{% extends 'base.html' %}
{% load static %}
{%block body%}
<p style="font-size: 2rem">Компания Сауна в доме ориентирована на тех, кто понимает толк в жизни, ценит качественный отдых и комплексно подходит к своему здоровью. Построить сауну в квартире или доме с нами довольно просто.
    <a href="{% url 'proposal' %}" style="color:red">Заполните заявку</a> на расчёт, где напишите все свои пожелания.
    Это приведёт к пониманию чего вы хотите: построить инфракрасную сауну, финскую сауну или турецкий хамам недорого или наоборот.
    Решать вам! Строим качественно!</p>
<hr class="featurette-divider">
<h2>Наша команда</h2>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="{% static 'img/main_img/Alexandr.jpg' %}" alt="...">
      <div class="caption">
        <h3>Александр</h3>
        <p>Много лет проработав в строительстве, сначала выполняя госконтракты, затем занимаясь производством пластиковых окон, потом строительством каркасных домов и наконец дизайном интерьеров и их воплощением. Я задумался над таким вопросом, на рынке много предложений в сфере строительства и ремонта, как при такой конкуренции найти своего клиента? Ответ не заставил себя долго ждать, когда один из заказчиков обратился с просьбой изготовить ему сауну в квартире с существующим ремонтом. Для этого, казалось бы простого проекта он не нашёл подходящих специалистов. Занимаясь его реализацией, я понял что нужно предлагать локальное решение для "лишних" помещений в квартирах наших заказчиков, а именно строить финскую сауну или турецкий хамам. Так родился и успешно развивается проект "Сауна в доме". Обращайтесь к нам. Строим красиво!</p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="{% static 'img/main_img/Nataliya.jpg' %}" alt="...">
      <div class="caption">
        <h3>Наталья</h3>
        <p>Окончила Архитектурную академию по специальности архитектура жилых и общественных зданий и по специальности дизайн. Много лет занимаюсь проектированием саун от идеи и чертежей до организации процесса строительства и контроля качества выполнения работ на объекте. Люблю и знаю своё дело. После сдачи сауны, всегда приятно сказать нашим счастливым клиентам. С лёгким паром!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}